
# compiled output
/dist
/dist-server
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
testem.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# generated local ssl key and crt
localhost4200.crt
localhost4200.key

.vscode/settings.json
.npmrc

# compodoc documentation
/documentation
documentation.json
